@import "~bootstrap/scss/bootstrap";

header{
    border: 1px dashed red;
    .container{
        border: 2px dashed green;
            
        }
}
main {
    border: 1px dashed red;
    .container{
    border: 2px dashed green;
        
    }
}

footer{
    border: 1px dashed red;
    .container{
        border: 2px dashed green;
            
        }
}




